@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row">

        <NavMenu />
        <div class="col-lg-10 p-0">
            <NavMenuResponsive />

            <div class="px-3 py-4">
               
                <HomeCharts />

                <CourseStates />

                <UserInfo />
            </div>
        </div>

    </div>

    <SelectTheme />
</div>