<div class="border table-responsive border-secondary border-opacity-10 rounded-3 mt-4">
    <div class="p-2 border-bottom border-secondary border-opacity-10">
        <span class="fw-bold fs-4">وضعیت</span>
    </div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-nowrap">دوره</th>
                <th class="text-nowrap">مدرس</th>
                <th class="text-nowrap">تصویر</th>
                <th class="text-nowrap">شروع</th>
                <th class="text-nowrap">وضعیت</th>
                <th class="text-nowrap">درصد یادگیری</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="text-nowrap">بوت استرپ 5</td>
                <td class="text-nowrap">مهرشاد براتی</td>
                <td>
                    <img src="img/user.jpg"
                         class="rounded-circle"
                         width="32"
                         height="32"
                         alt="avatar" />
                </td>
                <td class="text-nowrap">10 بهمن</td>
                <td class="text-nowrap">
                    <span class="badge bg-success rounded-pill">گذزانده شده</span>
                </td>
                <td class="text-nowrap">
                    <div class="progress">
                        <div class="progress-bar bg-success"
                             style="width: 100%">
                            100%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td class="text-nowrap">جاوااسکرپت</td>
                <td class="text-nowrap">مهرشاد براتی</td>
                <td>
                    <img src="img/user.jpg"
                         class="rounded-circle"
                         width="32"
                         height="32"
                         alt="avatar" />
                </td>
                <td class="text-nowrap">10 آذر</td>
                <td class="text-nowrap">
                    <span class="badge bg-danger rounded-pill">گذزانده نشده</span>
                </td>
                <td class="text-nowrap">
                    <div class="progress">
                        <div class="progress-bar bg-danger" style="width: 1">
                            0%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td class="text-nowrap">پایتون</td>
                <td class="text-nowrap">مهرشاد براتی</td>
                <td>
                    <img src="img/user.jpg"
                         class="rounded-circle"
                         width="32"
                         height="32"
                         alt="avatar" />
                </td>
                <td class="text-nowrap">12 اسفند</td>
                <td class="text-nowrap">
                    <span class="badge bg-warning rounded-pill">در حال یادگیری</span>
                </td>
                <td class="text-nowrap">
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 30%">
                            30%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td class="text-nowrap">سی اس اس</td>
                <td class="text-nowrap">مهرشاد براتی</td>
                <td>
                    <img src="img/user.jpg"
                         class="rounded-circle"
                         width="32"
                         height="32"
                         alt="avatar" />
                </td>
                <td class="text-nowrap">20 فروردین</td>
                <td class="text-nowrap">
                    <span class="badge bg-info rounded-pill">در حال یادگیری</span>
                </td>
                <td class="text-nowrap">
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 40%">
                            40%
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item disabled">
            <a href="#" class="page-link">قبلی</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">1</a>
        </li>
        <li class="page-item active">
            <a href="#" class="page-link">2</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">3</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">بعدی</a>
        </li>
    </ul>
</div>