<h2>عطیه صراحی طلب عزیز؛ خوش اومدی 🙌</h2>
<div class="row row-gap-2 mt-4">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="bg-info bg-gradient rounded-3 px-3 py-4 d-flex align-items-center justify-content-between position-relative overflow-hidden">
            <div>
                <h5 class="fw-bold text-light text-nowrap">پیشرفت کاربر</h5>
                <span class="text-light fs-3">35%</span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="117"
                     height="51"
                     viewBox="0 0 117 51"
                     fill="none">
                    <g filter="url(#filter0_f_3_639)">
                        <circle cx="107" cy="20" r="5" fill="#fff"></circle>
                    </g>
                    <path d="M1 49.5L8.5 26.5L17 37L22 19.5L31 37L44.5 3L57.5 26.5L72 19.5L83.5 31L93.5 6.5L101 19.5H108"
                          stroke="#fff"
                          stroke-width="2"
                          stroke-linecap="round"></path>
                    <defs>
                        <filter id="filter0_f_3_639"
                                x="97"
                                y="10"
                                width="20"
                                height="20"
                                filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0"
                                     result="BackgroundImageFix"></feFlood>
                            <feBlend mode="normal"
                                     in="SourceGraphic"
                                     in2="BackgroundImageFix"
                                     result="shape"></feBlend>
                            <feGaussianBlur stdDeviation="2.5"
                                            result="effect1_foregroundBlur_3_639"></feGaussianBlur>
                        </filter>
                    </defs>
                </svg>
            </div>
            <div class="position-absolute bottom-0 start-0 w-100 bg-dark bg-opacity-25 text-center p-1">
                <a href="#" class="text-light text-decoration-none">اطلاعات بیشتر</a>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-arrow-left"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          fill="#fff"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="bg-danger bg-gradient rounded-3 px-3 py-4 d-flex align-items-center justify-content-between position-relative overflow-hidden">
            <div>
                <h5 class="fw-bold text-light text-nowrap">دوره ها</h5>
                <span class="text-light fs-3">10</span>
            </div>
            <div>
                <i class="bi bi-bar-chart-fill" style="font-size: 2rem; color: white;"></i>
            </div>
            <div class="position-absolute bottom-0 start-0 w-100 bg-dark bg-opacity-25 text-center p-1">
                <a href="#" class="text-light text-decoration-none">اطلاعات بیشتر</a>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-arrow-left"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          fill="#fff"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="bg-primary bg-gradient rounded-3 px-3 py-4 d-flex align-items-center justify-content-between position-relative overflow-hidden">
            <div>
                <h5 class="fw-bold text-light text-nowrap">
                    مجموع تیکت ها
                </h5>
                <span class="text-light fs-3">20</span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="117"
                     height="51"
                     viewBox="0 0 117 51"
                     fill="none">
                    <g filter="url(#filter0_f_3_639)">
                        <circle cx="107" cy="20" r="5" fill="#fff"></circle>
                    </g>
                    <path d="M1 49.5L8.5 26.5L17 37L22 19.5L31 37L44.5 3L57.5 26.5L72 19.5L83.5 31L93.5 6.5L101 19.5H108"
                          stroke="#fff"
                          stroke-width="2"
                          stroke-linecap="round"></path>
                    <defs>
                        <filter id="filter0_f_3_639"
                                x="97"
                                y="10"
                                width="20"
                                height="20"
                                filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0"
                                     result="BackgroundImageFix"></feFlood>
                            <feBlend mode="normal"
                                     in="SourceGraphic"
                                     in2="BackgroundImageFix"
                                     result="shape"></feBlend>
                            <feGaussianBlur stdDeviation="2.5"
                                            result="effect1_foregroundBlur_3_639"></feGaussianBlur>
                        </filter>
                    </defs>
                </svg>
            </div>
            <div class="position-absolute bottom-0 start-0 w-100 bg-dark bg-opacity-25 text-center p-1">
                <a href="#" class="text-light text-decoration-none">اطلاعات بیشتر</a>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-arrow-left"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          fill="#fff"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="bg-success bg-gradient rounded-3 px-3 py-4 d-flex align-items-center justify-content-between position-relative overflow-hidden">
            <div>
                <h5 class="fw-bold text-light text-nowrap">موجودی حساب</h5>
                <span class="text-light fs-3">0</span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="117"
                     height="51"
                     viewBox="0 0 117 51"
                     fill="none">
                    <g filter="url(#filter0_f_3_639)">
                        <circle cx="107" cy="20" r="5" fill="#fff"></circle>
                    </g>
                    <path d="M1 49.5L8.5 26.5L17 37L22 19.5L31 37L44.5 3L57.5 26.5L72 19.5L83.5 31L93.5 6.5L101 19.5H108"
                          stroke="#fff"
                          stroke-width="2"
                          stroke-linecap="round"></path>
                    <defs>
                        <filter id="filter0_f_3_639"
                                x="97"
                                y="10"
                                width="20"
                                height="20"
                                filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0"
                                     result="BackgroundImageFix"></feFlood>
                            <feBlend mode="normal"
                                     in="SourceGraphic"
                                     in2="BackgroundImageFix"
                                     result="shape"></feBlend>
                            <feGaussianBlur stdDeviation="2.5"
                                            result="effect1_foregroundBlur_3_639"></feGaussianBlur>
                        </filter>
                    </defs>
                </svg>
            </div>
            <div class="position-absolute bottom-0 start-0 w-100 bg-dark bg-opacity-25 text-center p-1">
                <a href="#" class="text-light text-decoration-none">اطلاعات بیشتر</a>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-arrow-left"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          fill="#fff"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
                </svg>
            </div>
        </div>
    </div>
</div>