<div class="col-lg-2 d-none d-lg-block p-0">
    <div class="d-flex flex-column shadow h-100 p-3 position-fixed w_inherit">
        <a href="#"
           class="d-flex gap-2 align-items-center text-decoration-none link-body-emphasis">
            <img src="img/logo.png" width="70" alt="" />
            <span class="fs-4 fw-bold">صراحی</span>
        </a>
        <hr />
        <ul class="nav nav-pills d-block mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link d-flex gap-2 active">
                    <i class="bi bi-house-door"></i>
                    <span>خانه</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex gap-2 link-body-emphasis">
                    <i class="bi bi-speedometer2"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex gap-2 link-body-emphasis">
                    <i class="bi bi-bag"></i>
                    <span>سفارش</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex gap-2 link-body-emphasis">
                    <i class="bi bi-book"></i>
                    <span>دوره ها</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex gap-2 link-body-emphasis">
                    <i class="bi bi-person"></i>
                    <span>مشتریان</span>
                </a>
            </li>
        </ul>
        <hr />
        <div class="dropdown">
            <a href="#"
               data-bs-toggle="dropdown"
               class="dropdown-toggle d-flex align-items-center gap-2 text-decoration-none link-body-emphasis">
                <img src="img/user.jpg"
                     class="rounded-circle"
                     width="32"
                     height="32"
                     alt="" />
                <strong> عطیه صراحی طلب</strong>
            </a>
            <ul class="dropdown-menu shadow" data-popper-placement="top-end">
                <li>
                    <a href="#" class="dropdown-item">پروژه جدید ...</a>
                    <a href="#" class="dropdown-item">تنظیمات</a>
                    <a href="#" class="dropdown-item">پروفایل</a>
                    <hr />
                    <a href="#" class="dropdown-item">خروج</a>
                </li>
            </ul>
        </div>
    </div>
</div>
