<div class="border border-secondary border-opacity-10 mt-4">
    <div class="p-2">
        <span class="fw-bold fs-4">اطلاعات کاربر</span>
    </div>
    <form action="" class="row row-gap-4 p-3">
        <div class="col-12 col-sm-6">
            <div>
                <label for="" class="form-label">نام</label>
                <input type="text"
                       class="form-control"
                       placeholder="عطیه" />
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div>
                <label for="" class="form-label">نام خانوادگی</label>
                <input type="text"
                       class="form-control"
                       placeholder="صراحی طلب" />
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div>
                <label for="" class="form-label">ایمیل</label>
                <input type="email"
                       class="form-control"
                       placeholder="a.sorahitalab@gmail.com" />
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div>
                <label for="" class="form-label">شغل</label>
                <select class="form-select">
                    <option value="" selected>دانشجو</option>
                    <option value="">برنامه نویس</option>
                    <option value="">آزاد</option>
                    <option value="">سایر</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div>
                <label for="" class="form-label">تصویر</label>
                <input type="file" class="form-control" />
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div>
                <label for="" class="form-label">سن</label>
                <input type="number" class="form-control" />
            </div>
        </div>
        <div>
            <button class="btn btn-success">آپدیت</button>
        </div>
    </form>
</div>